<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @purchase.amount %>
</p>

<p>
  <strong>Email:</strong>
  <%= @purchase.email %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @purchase.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @purchase.lastname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @purchase.address %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @purchase.address2 %>
</p>

<p>
  <strong>Brand1:</strong>
  <%= @purchase.brand1 %>
</p>

<p>
  <strong>Title1:</strong>
  <%= @purchase.title1 %>
</p>

<p>
  <strong>Quantity1:</strong>
  <%= @purchase.quantity1 %>
</p>

<p>
  <strong>Selectedoption1:</strong>
  <%= @purchase.selectedoption1 %>
</p>

<p>
  <strong>Price1:</strong>
  <%= @purchase.price1 %>
</p>

<p>
  <strong>Brand2:</strong>
  <%= @purchase.brand2 %>
</p>

<p>
  <strong>Title2:</strong>
  <%= @purchase.title2 %>
</p>

<p>
  <strong>Quantity2:</strong>
  <%= @purchase.quantity2 %>
</p>

<p>
  <strong>Selectedoption2:</strong>
  <%= @purchase.selectedoption2 %>
</p>

<p>
  <strong>Price2:</strong>
  <%= @purchase.price2 %>
</p>

<p>
  <strong>Brand3:</strong>
  <%= @purchase.brand3 %>
</p>

<p>
  <strong>Title3:</strong>
  <%= @purchase.title3 %>
</p>

<p>
  <strong>Quantity3:</strong>
  <%= @purchase.quantity3 %>
</p>

<p>
  <strong>Selectedoption3:</strong>
  <%= @purchase.selectedoption3 %>
</p>

<p>
  <strong>Price3:</strong>
  <%= @purchase.price3 %>
</p>

<p>
  <strong>Brand4:</strong>
  <%= @purchase.brand4 %>
</p>

<p>
  <strong>Title4:</strong>
  <%= @purchase.title4 %>
</p>

<p>
  <strong>Quantity4:</strong>
  <%= @purchase.quantity4 %>
</p>

<p>
  <strong>Selectedoption4:</strong>
  <%= @purchase.selectedoption4 %>
</p>

<p>
  <strong>Price4:</strong>
  <%= @purchase.price4 %>
</p>

<p>
  <strong>Brand5:</strong>
  <%= @purchase.brand5 %>
</p>

<p>
  <strong>Title5:</strong>
  <%= @purchase.title5 %>
</p>

<p>
  <strong>Quantity5:</strong>
  <%= @purchase.quantity5 %>
</p>

<p>
  <strong>Selectedoption5:</strong>
  <%= @purchase.selectedoption5 %>
</p>

<p>
  <strong>Price5:</strong>
  <%= @purchase.price5 %>
</p>

<p>
  <strong>Brand6:</strong>
  <%= @purchase.brand6 %>
</p>

<p>
  <strong>Title6:</strong>
  <%= @purchase.title6 %>
</p>

<p>
  <strong>Quantity6:</strong>
  <%= @purchase.quantity6 %>
</p>

<p>
  <strong>Selectedoption6:</strong>
  <%= @purchase.selectedoption6 %>
</p>

<p>
  <strong>Price6:</strong>
  <%= @purchase.price6 %>
</p>

<p>
  <strong>Brand7:</strong>
  <%= @purchase.brand7 %>
</p>

<p>
  <strong>Title7:</strong>
  <%= @purchase.title7 %>
</p>

<p>
  <strong>Quantity7:</strong>
  <%= @purchase.quantity7 %>
</p>

<p>
  <strong>Selectedoption7:</strong>
  <%= @purchase.selectedoption7 %>
</p>

<p>
  <strong>Price7:</strong>
  <%= @purchase.price7 %>
</p>

<p>
  <strong>Brand8:</strong>
  <%= @purchase.brand8 %>
</p>

<p>
  <strong>Title8:</strong>
  <%= @purchase.title8 %>
</p>

<p>
  <strong>Quantity8:</strong>
  <%= @purchase.quantity8 %>
</p>

<p>
  <strong>Selectedoption8:</strong>
  <%= @purchase.selectedoption8 %>
</p>

<p>
  <strong>Price8:</strong>
  <%= @purchase.price8 %>
</p>

<p>
  <strong>Brand9:</strong>
  <%= @purchase.brand9 %>
</p>

<p>
  <strong>Title9:</strong>
  <%= @purchase.title9 %>
</p>

<p>
  <strong>Quantity9:</strong>
  <%= @purchase.quantity9 %>
</p>

<p>
  <strong>Selectedoption9:</strong>
  <%= @purchase.selectedoption9 %>
</p>

<p>
  <strong>Price9:</strong>
  <%= @purchase.price9 %>
</p>

<p>
  <strong>Brand10:</strong>
  <%= @purchase.brand10 %>
</p>

<p>
  <strong>Title10:</strong>
  <%= @purchase.title10 %>
</p>

<p>
  <strong>Quantity10:</strong>
  <%= @purchase.quantity10 %>
</p>

<p>
  <strong>Selectedoption10:</strong>
  <%= @purchase.selectedoption10 %>
</p>

<p>
  <strong>Price10:</strong>
  <%= @purchase.price10 %>
</p>

<p>
  <strong>Brand11:</strong>
  <%= @purchase.brand11 %>
</p>

<p>
  <strong>Title11:</strong>
  <%= @purchase.title11 %>
</p>

<p>
  <strong>Quantity11:</strong>
  <%= @purchase.quantity11 %>
</p>

<p>
  <strong>Selectedoption11:</strong>
  <%= @purchase.selectedoption11 %>
</p>

<p>
  <strong>Price11:</strong>
  <%= @purchase.price11 %>
</p>

<p>
  <strong>Brand12:</strong>
  <%= @purchase.brand12 %>
</p>

<p>
  <strong>Title12:</strong>
  <%= @purchase.title12 %>
</p>

<p>
  <strong>Quantity12:</strong>
  <%= @purchase.quantity12 %>
</p>

<p>
  <strong>Selectedoption12:</strong>
  <%= @purchase.selectedoption12 %>
</p>

<p>
  <strong>Price12:</strong>
  <%= @purchase.price12 %>
</p>

<p>
  <strong>Brand13:</strong>
  <%= @purchase.brand13 %>
</p>

<p>
  <strong>Title13:</strong>
  <%= @purchase.title13 %>
</p>

<p>
  <strong>Quantity13:</strong>
  <%= @purchase.quantity13 %>
</p>

<p>
  <strong>Selectedoption13:</strong>
  <%= @purchase.selectedoption13 %>
</p>

<p>
  <strong>Price13:</strong>
  <%= @purchase.price13 %>
</p>

<p>
  <strong>Brand14:</strong>
  <%= @purchase.brand14 %>
</p>

<p>
  <strong>Title14:</strong>
  <%= @purchase.title14 %>
</p>

<p>
  <strong>Quantity14:</strong>
  <%= @purchase.quantity14 %>
</p>

<p>
  <strong>Selectedoption14:</strong>
  <%= @purchase.selectedoption14 %>
</p>

<p>
  <strong>Price14:</strong>
  <%= @purchase.price14 %>
</p>

<p>
  <strong>Brand15:</strong>
  <%= @purchase.brand15 %>
</p>

<p>
  <strong>Title15:</strong>
  <%= @purchase.title15 %>
</p>

<p>
  <strong>Quantity15:</strong>
  <%= @purchase.quantity15 %>
</p>

<p>
  <strong>Selectedoption15:</strong>
  <%= @purchase.selectedoption15 %>
</p>

<p>
  <strong>Price15:</strong>
  <%= @purchase.price15 %>
</p>

<p>
  <strong>Brand16:</strong>
  <%= @purchase.brand16 %>
</p>

<p>
  <strong>Title16:</strong>
  <%= @purchase.title16 %>
</p>

<p>
  <strong>Quantity16:</strong>
  <%= @purchase.quantity16 %>
</p>

<p>
  <strong>Selectedoption16:</strong>
  <%= @purchase.selectedoption16 %>
</p>

<p>
  <strong>Price16:</strong>
  <%= @purchase.price16 %>
</p>

<p>
  <strong>Brand17:</strong>
  <%= @purchase.brand17 %>
</p>

<p>
  <strong>Title17:</strong>
  <%= @purchase.title17 %>
</p>

<p>
  <strong>Quantity17:</strong>
  <%= @purchase.quantity17 %>
</p>

<p>
  <strong>Selectedoption17:</strong>
  <%= @purchase.selectedoption17 %>
</p>

<p>
  <strong>Price17:</strong>
  <%= @purchase.price17 %>
</p>

<p>
  <strong>Brand18:</strong>
  <%= @purchase.brand18 %>
</p>

<p>
  <strong>Title18:</strong>
  <%= @purchase.title18 %>
</p>

<p>
  <strong>Quantity18:</strong>
  <%= @purchase.quantity18 %>
</p>

<p>
  <strong>Selectedoption18:</strong>
  <%= @purchase.selectedoption18 %>
</p>

<p>
  <strong>Price18:</strong>
  <%= @purchase.price18 %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
