<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Color1:</strong>
  <%= @product.color1 %>
</p>

<p>
  <strong>Color2:</strong>
  <%= @product.color2 %>
</p>

<p>
  <strong>Color3:</strong>
  <%= @product.color3 %>
</p>

<p>
  <strong>Color4:</strong>
  <%= @product.color4 %>
</p>

<p>
  <strong>Color5:</strong>
  <%= @product.color5 %>
</p>

<p>
  <strong>Size1:</strong>
  <%= @product.size1 %>
</p>

<p>
  <strong>Size2:</strong>
  <%= @product.size2 %>
</p>

<p>
  <strong>Size3:</strong>
  <%= @product.size3 %>
</p>

<p>
  <strong>Size4:</strong>
  <%= @product.size4 %>
</p>

<p>
  <strong>Size5:</strong>
  <%= @product.size5 %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Saleprice:</strong>
  <%= @product.saleprice %>
</p>

<p>
  <strong>Image1:</strong>
  <%= @product.image1 %>
</p>

<p>
  <strong>Image2:</strong>
  <%= @product.image2 %>
</p>

<p>
  <strong>Image3:</strong>
  <%= @product.image3 %>
</p>

<p>
  <strong>Image4:</strong>
  <%= @product.image4 %>
</p>

<p>
  <strong>Image5:</strong>
  <%= @product.image5 %>
</p>

<p>
  <strong>Review:</strong>
  <%= @product.review %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @product.rating %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
